<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>SUITE-Bold.otf</string>
		<string>SUITE-ExtraBold.otf</string>
		<string>SUITE-Heavy.otf</string>
		<string>SUITE-Light.otf</string>
		<string>SUITE-Medium.otf</string>
		<string>SUITE-Regular.otf</string>
		<string>SUITE-SemiBold.otf</string>
	</array>
</dict>
</plist>
